In [138]:
# import libraries 

from bs4 import BeautifulSoup
import requests
import time
import datetime

import smtplib

In [164]:
# Connect to Website and pull in data

URL = 'https://www.amazon.com/dp/B01CIHHBOK/ref=sspa_dk_detail_1?pd_rd_i=B01CIHGVCS&pd_rd_w=TFPUa&pf_rd_p=b9951ce4-3bd8-4b04-9123-0fda35d6155e&pd_rd_wg=SRqAs&pf_rd_r=76SGNBQ4W5869TWWPERW&pd_rd_r=d1a4ff6b-271d-4de7-928e-4f6c9b4e52ef&s=apparel&smid=A2O7UE7Z6XXPAU&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUExRzZYSllPM1FKWFpUJmVuY3J5cHRlZElkPUEwNTc4MDA4MTZaRk5BV0VXQUszRSZlbmNyeXB0ZWRBZElkPUEwNDA5MzMwMlRWVzc0NElIS0ZONiZ3aWRnZXROYW1lPXNwX2RldGFpbCZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU&th=1&psc=1'

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

page = requests.get(URL, headers=headers)

soup1 = BeautifulSoup(page.content, "lxml")
soup2 = BeautifulSoup(soup1.prettify(), "lxml")

title = soup2.find(id='productTitle').get_text()
price = soup2.find('span', class_="a-offscreen").get_text()


print(title)
print(price)

                  Blittzen Mens T-Shirt Two Kinds of People - Incomplete Data


                    $11.95

In [165]:
# Clean up the data a little bit

price = price.strip()[1:]
title = title.strip()

print(title)
print(price)

Blittzen Mens T-Shirt Two Kinds of People - Incomplete Data
11.95

In [166]:
# Create a Timestamp for your output to track when data was collected

import datetime

today = datetime.date.today()

print(today)

2022-03-15

In [167]:
# Create CSV and write headers and data into the file

import csv 

header = ['Title', 'Price', 'Date']
data = [title, price, today]


with open('AmazonWebScraperProject.csv', 'w', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerow(data)

In [178]:
# Import Dataset

import pandas as pd

df = pd.read_csv(r'/Users/omid/AmazonWebScraperProject.csv')

df.head()

                                               Title  Price        Date
0  Blittzen Mens T-Shirt Two Kinds of People - In...  11.95  2022-03-15
1  Blittzen Mens T-Shirt Two Kinds of People - In...  11.95  2022-03-15

In [176]:
#Now we are appending data to the csv

with open('AmazonWebScraperProject.csv', 'a+', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(data)

In [179]:
df.head()

                                               Title  Price        Date
0  Blittzen Mens T-Shirt Two Kinds of People - In...  11.95  2022-03-15
1  Blittzen Mens T-Shirt Two Kinds of People - In...  11.95  2022-03-15

In [180]:
#Combine all of the above code into one function


def check_price():
    URL = 'https://www.amazon.com/dp/B01CIHHBOK/ref=sspa_dk_detail_1?pd_rd_i=B01CIHGVCS&pd_rd_w=TFPUa&pf_rd_p=b9951ce4-3bd8-4b04-9123-0fda35d6155e&pd_rd_wg=SRqAs&pf_rd_r=76SGNBQ4W5869TWWPERW&pd_rd_r=d1a4ff6b-271d-4de7-928e-4f6c9b4e52ef&s=apparel&smid=A2O7UE7Z6XXPAU&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUExRzZYSllPM1FKWFpUJmVuY3J5cHRlZElkPUEwNTc4MDA4MTZaRk5BV0VXQUszRSZlbmNyeXB0ZWRBZElkPUEwNDA5MzMwMlRWVzc0NElIS0ZONiZ3aWRnZXROYW1lPXNwX2RldGFpbCZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU&th=1&psc=1'

    headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

    page = requests.get(URL, headers=headers)

    soup1 = BeautifulSoup(page.content, "lxml")
    soup2 = BeautifulSoup(soup1.prettify(), "lxml")

    title = soup2.find(id='productTitle').get_text()
    price = soup2.find('span', class_="a-offscreen").get_text()

    price = price.strip()[1:]
    title = title.strip()

    import datetime

    today = datetime.date.today()
    
    import csv 

    header = ['Title', 'Price', 'Date']
    data = [title, price, today]

    with open('AmazonWebScraperProject.csv', 'a+', newline='', encoding='UTF8') as f:
        writer = csv.writer(f)
        writer.writerow(data)
        
    if(price<14):
        send_mail()

In [ ]:
# Runs check_price after a set time and inputs data into your CSV

while(True):
    check_price()
    time.sleep(86400)

In [184]:
# Import Dataset

import pandas as pd

df = pd.read_csv(r'/Users/omid/AmazonWebScraperProject.csv')

df.head()

                                               Title  Price        Date
0  Blittzen Mens T-Shirt Two Kinds of People - In...  11.95  2022-03-15
1  Blittzen Mens T-Shirt Two Kinds of People - In...  11.95  2022-03-15
2  Blittzen Mens T-Shirt Two Kinds of People - In...  11.95  2022-03-15
3  Blittzen Mens T-Shirt Two Kinds of People - In...  11.95  2022-03-15
4  Blittzen Mens T-Shirt Two Kinds of People - In...  11.95  2022-03-15

In [185]:
# Send E-Mail

def send_mail():
    server = smtplib.SMTP_SSL('smtp.gmail.com',465)
    server.ehlo()
    #server.starttls()
    server.ehlo()
    server.login('OmidAjamiCa@gmail.com','xxxxxxxxxxxxxx')
    
    subject = "The Shirt you want is below $15! Now is your chance to buy!"
    body = "Omid, This is the moment we have been waiting for. Now is your chance to pick up the shirt of your dreams. Don't mess it up! Link here: https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data+analyst+tshirt&qid=1626655184&sr=8-3"
   
    msg = f"Subject: {subject}\n\n{body}"
    
    server.sendmail(
        'OmidAjamiCa@gmail.com',
        msg
    )